main{
  header {
    h1 {
        padding: 16px;
        text-align: center;
        color: white;
    }
    h3 {
        color: white;
        text-align: center;
        padding-bottom: 16px;
    }
    .nav-box {
        background: rgb(2,0,36);
        background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    border-radius: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

  }
}
.test-class {
  font-size: 12px;
}
